<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946201386566-k88qgivndhf79ornt2s3m74ahp7a1cv6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946201386566-k88qgivndhf79ornt2s3m74ahp7a1cv6</string>
	<key>API_KEY</key>
	<string>AIzaSyB_3dzeO13ytVCQaaUoXSf-wrng1WnCQuE</string>
	<key>GCM_SENDER_ID</key>
	<string>946201386566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.pixolity.mynotes</string>
	<key>PROJECT_ID</key>
	<string>test-sproject-91ea2</string>
	<key>STORAGE_BUCKET</key>
	<string>test-sproject-91ea2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946201386566:ios:d985f62a811b7b37b9f447</string>
</dict>
</plist>